<h1>Errors Index</h1>

<table>
<tr>
  <th>Which End</th>
  <th>Error Code</th>
  <th>Component</th>
  <th>Resolved?</th>
  <th>Body</th>
</tr>
  <% @errors.each do |error| %>
    <tr>
      <td><%= error.which_end %></td>
      <td><%= error.code %></td>
      <td><%= error.component %></td>
      <td><%= error.resolved %></td>
      <td><%= error.body %></td>
    </tr>
  <% end %>
</table>